<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% include seo-meta.html %}
  <meta name="theme-color" content="#0B1B3B" />
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/img/logo.svg' | relative_url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <script defer src="{{ '/assets/js/main.js' | relative_url }}"></script>
</head>
